<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form style="display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: auto;
    min-height: 80vh;
    justify-content: center;
    background: blanchedalmond;
    font-size: 40px;
gap: 15px"
      id="myForm" th:method="post"
      th:action="@{/auth/register}">
    <span><label for="username">Логин</label><input type="text" name="username" id="username"></span>
    <span><label for="password">Пароль</label><input type="password" name="password" id="password"></span>
    <button style="
            background: #dab793;
            border: #dab793 solid;
            border-radius: 10px;
            font-size: 40px" type="submit">Зарегистрироваться
    </button>
</form>
<style>
    span {
        width: 80%;
    }

    input{
        height: 4.3vh;
        display: flex;
    }
</style>
</body>
</html>